* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  box-sizing: border-box;
}

body {
  background-color: #123;
  color: #edc;
  font-size: 1rem;
  /* padding: 1%; */
  line-height: 1.5rem;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  display:flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  z-index: 10;
  width: 90vw;
  min-width: 300px;
  max-width: 500px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

form, .totals, .results {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 5%;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 1rem;

}

label {
  padding: 5px;
}

h2, h1 {
  text-align: center;
  margin-bottom: 25px;
}
.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
input {
  margin: 2px;
  border: none;
  border-radius: 8px;
  background: #444;
  color: #ccc;
  text-align: right;
  width: 75px;
  height: 1rem;
  padding:10px;
  font-size: 1.25rem;
  font-weight:700;
}

.result {
  margin-left: 10px;
  /* color:#1CA152; */
  color:#008529;
  font-size: 1.5rem;
  font-weight:700;

}

.result-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.small {

  text-align: center;
  font-size: .3rem;
  margin-top: 25px;
}

.small a {
  color: #fff;
  text-transform: uppercase;
  font-size: .5rem;
  font-weight: 700;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}