* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  box-sizing: border-box;
}


body {
  background-color: #123;
  color: #edc;
  font-size: 1rem;
  width: 100vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 90vw;
  min-width: 300px;
  max-width: 1250px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-container {
  gap: 1rem;
}

form, .results {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 5%;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 1rem;

}

label {
  padding: 5px;
}

h2, h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #ddd;
  font-size: 1.5rem;
}

h4 {
  color: #999;
}

input {
  -webkit-user-select: text; /* Chrome, Opera, Safari */
  -moz-user-select: text; /* Firefox 2+ */
  -ms-user-select: text; /* IE 10+ */
  user-select: text; /* Standard syntax */
  margin: 2px;
  border: none;
  background: #444;
  color: #ccc;
  text-align: right;
  width: 75px;
  height: 1.25 rem;
  padding: 3px;
  font-size: 1rem;
  font-weight:700;
  border-radius: 8px;
}

.result {
  margin-left: 10px;
  color:#1CA152;
  /* color:#008529; */
  font-size: 1.5rem;
  font-weight:700;

}

.toggle {
  display: none;
}

.result-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.small {

  text-align: center;
  font-size: .3rem;
  margin-top: 25px;
}

.small a {
  color: #eee;
  text-transform: uppercase;
  font-size: .5rem;
  font-weight: 700;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.line {
  display:block;
}

.time {
  vertical-align: bottom;
  margin: 1rem;
  text-align: right;
  font-size: .6rem;
}

.form-group, .radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center
}


.radio {
  margin: 0;
  width: 1rem;
}

@media (min-width: 700px) {

  .time {

    font-size: 1rem;
    margin: 0 0 25px;

  }

  
  body {
    font-size: 1.25rem;
  }
  
  .result, input {
    font-size: 1.5rem;
  }

  .radio {
    margin: 0;
    width: 1.5rem;
  }

  input {
    width: 100px;
    height: 35px;
  }
  
  .line {
    display:none;
  }

  .main-container {


    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  form, .results {

    width: 350px;
    height: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  }

  .container {
    padding: 50px;
    min-width: 800px;
    border: none;
    background-color: rgba(0, 0, 0, 0.0);

  }

  .small {
    font-size: .75rem;
  }
  
  .small a {
    font-size: 1rem;
  }
  
  .toggle {
    display: block;
  }
  
}

@media (min-width: 1100px) {

  .time {
  
    font-size: 1.25rem;
    margin: 0 0 25px;

  }


  form, .results {

    width: 500px;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    vertical-align: top;
    
  }

  body {
    font-size: 1.5rem;
  }
  
  .result, input {
    font-size: 1.75rem;
  }

  .radio {
    margin: 0;
    width: 1.75rem;
  }
}